feedparser
beautifulsoup4
python-dateutil
python-dotenv
supabase
sentence-transformers
requests
rank-bm25
numpy
ragas
datasets
crewai
langchain-groq
langchain-community
langchain-core
tavily-python
langchain-groq
fastapi
uvicorn
fpdf2
python-multipart
